<aside
  class="fixed left-0 top-0 w-72 h-screen bg-slate-950 border-r border-slate-800 overflow-y-auto sidebar-scroll"
>
  <div class="p-6 border-b border-slate-800">
    <a href="index.html">
      <img
        src="/assets/images/logo/logo.png"
        alt="SanMo HR & ERP System"
        class="w-[150px]"
      />
    </a>
  </div>

  <nav class="p-4 space-y-2">
    <a href="#cover" class="sidebar-link"> Cover Page </a>

    <a href="#overview" class="sidebar-link"> Overview </a>

    <a href="#dashboard" class="sidebar-link"> Dashboard </a>

    <a href="#employees" class="sidebar-link"> Employee Management </a>

    <a href="#teams" class="sidebar-link"> Teams Management </a>

    <a href="#onboarding" class="sidebar-link"> Onboarding </a>

    <a href="#attendance" class="sidebar-link"> Attendance Management </a>

    <a href="#payroll" class="sidebar-link"> Payroll Management </a>

    <a href="#finance" class="sidebar-link"> Financial Management </a>

    <a href="#roles" class="sidebar-link"> Role Management </a>

    <a href="#kpi" class="sidebar-link"> KPI Rating </a>

    <a href="#notifications" class="sidebar-link"> Notifications </a>

    <a href="#holiday" class="sidebar-link"> Holiday Management </a>

    <a href="#faq" class="sidebar-link"> FAQ </a>
  </nav>
</aside>
